[Desktop Entry]
Version=1.0.2
Type=Application
Name=A.V.A.
Comment=Augmented Virtual Assistant for Linux
Exec=ava
Categories=Utility;
# desktop should run this in a terminal application
Terminal=false
StartupNotify=true
StartupWMClass=ava
Icon=dragonfire_icon.png
